body{
    font:0.8em Arial;
    background-color: #d3d3d3;
}

.chat .messages {
    background-color: white;
    boarder:1px solid black;
    width:250px;
    height:210px;
    padding:10px;
    overflow-y: scroll;
}

.chat .message a{
    color: slategray;
}

.chat .message p{
    margin:5px 0;
}

.chat .entry {
    width:260px;
    height:40px;
    padding:5px;
    margin-top:5px;
    font:1em Arial;
}